* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 100ms ease;
}

.app {

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 0;
    overflow: hidden;
}



.header {

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 21px 10%;
    border-bottom: 1px solid var(--colorNeutralStroke2);
}
.header-caption > .header-logo {
    width: 30px;
    height: 38px;
    mix-blend-mode: multiply;
}
.header-caption {
    display: flex;
    gap: 13px;
    align-items: center;
}



#app-grid {
    display: grid;
    
    padding: 34px 144px;
    height: 100%;

    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr 34px;
}

.logo-img {
    width: 150px;
    height: 180px;
    mix-blend-mode: multiply;
    background-color: transparent;
}

#left-logo {
    grid-row: 1;
    grid-column: 3;
}

#intro-header {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2;
    gap: 34px;
    text-align: right;
    align-items: right;
    justify-content: center;
}
#intro-header-caption {
    display: flex;
    flex-direction: column;
    gap: 16px
}

#intro-center {
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    grid-column: 2;
}

#intro-footer {
    text-align: center;
    padding: 5px 12px;
    grid-row: 3;
    grid-column: 1 / 4;
}



.input-inner-btn {
    padding: 0 !important;
    width: min-content !important;
    height: min-content !important;  
    min-width: 0 !important;
}
.fui-Input {
    height: 34px !important;
}
.fui-Input.invalid-input {
    border-bottom-color: red !important;
}