.control-pad { 
    background-color: var(--colorNeutralBackground2); 
    min-height: 0;
}

.control-pad .sidebar {

    display: flex;
    flex-direction: column;
    gap: 21px;
    border-left: 1px solid var(--colorNeutralStroke2);
    background-color: var(--colorNeutralBackground3);
    padding: 21px;
    min-width: 240px;
    width: 16%;
}

.control-pad .sidebar .tab-list {
    flex-grow: 1 !important;
}

.control-pad .control-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.control-pad .control-area .data-container {
    overflow-y: auto;
} 

.control-pad .control-area .tool-bar {
    display: flex;
    gap: 5px;
    width: 100% !important;
    padding: 21px;
    min-height: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--colorNeutralStroke1);
}

.control-pad .control-area .tool-bar .button {
    padding: 5px 13px !important;
    width: fit-content !important;
    min-width: 0;
}

/* row */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 40px;
    height: 40px;
    gap: 13px;
    align-items: center;
}

/* actions */
.row .identity, .row .actions {
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 13px;
}

/* name, index-num */
.row .identity .index-num, .row .identity .name {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: auto;
}

/* name */
.row .name {
    min-width: 80px;
    justify-content: start;
}

/* cells */
.row .cell {
    min-width: 80px;
    justify-content: start;
}

.row .actions {
    gap: 5px
}

.row .actions .action {
    min-width: 0 !important;
    width: fit-content !important;
    padding: 2px 5px !important;
    cursor: pointer !important;
}

.row.active {
    cursor: pointer;
}
.row.active:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.file-item:hover {
    background: var(--colorNeutralBackground3);
}