.home-pad-parent {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.home-pad {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 50%;
}

.home-pad .sidebar {
    width: 260px;
    border-left: 1px solid var(--colorNeutralStroke2);
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    min-height: 0;
    background-color: var(--colorNeutralBackground2);
}

.sidebar-placeholder {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.sidebar-tablist {
    min-height: 0;
    flex: 1;
    overflow: auto;
}
.sidebar-tablist > .collage-tab:hover {
    background-color: rgba(0, 0, 0, 0.03) !important;
}


.user-menu-btn {
    display: flex !important; 
    justify-content: start !important;
    padding: 5px !important;
}
.user-menu-btn-content { 
    display: flex !important; 
    text-align: start !important;
    gap: 13px !important; 
    flex: 1;
}
.user-menu-name { 
    margin-top: 0.5rem !important; 
    font-weight: bold !important;
}

.filter-bar .user-menu-btn {
    margin-inline-start: auto !important;
}


.home-pad .content-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--colorNeutralBackground3);
    height: 100%;
    gap: 13px;
    overflow-y: auto;
}
  
.filter-bar {
    display: flex;
    gap: 5px;
    align-items: align;
    flex-wrap: wrap;
}

.filter-input {
    height: 32px !important;
    min-width: 160px !important;
    max-width: 160px !important;
    overflow: hidden !important;
    text-wrap: nowrap !important;
}

.search-input {
    height: 32px !important;
    width: 30% !important;
    min-width: 144px;
}
  

.content-area .projects-area, .content-area .people-area, .content-area .categories-area {

    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 5px;
    min-height: 0;
    padding: 13px;
}

.content-area  .projects-area {
    padding-top: 0 !important;
}

.projects-area .ranks-bar {
    
    gap: 0px !important;
    padding: 8px;
    padding-bottom: 0;
    
    border: 1px solid var(--colorNeutralStroke2);
    background-color: var(--colorNeutralBackground2);

    border-radius: 5px;
}
.rank-tab {
    padding: 8px !important;
    padding-top: 0 !important;
}

.projects-area .projects-list, .people-area .people-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.project-card {
    border-radius: 13px;
    animation: cardIn 200ms ease;
}
@keyframes cardIn {
    0% { scale: .5; }
    100% { scale: 1; }
}
.project-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}
.project-card:hover .project-title-h2 {
    color: rgb(0, 67, 190);
}
.project-card:active {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.03);
}

.proj-category-span, .proj-keyword-span {
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 12px;
}



.filter-div {
    display: flex;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    gap: 1px;
    align-items: center;
}
.filter-div > .date-box {
    width: 150px !important;
}


.cc-btn.selected {
    transition: 200ms ease;
    background-color: var(--colorBrandBackground);
    color: white;
    font-weight: bold;
}


.person-card {
    display: flex;
    gap: 13px;
    padding: 13px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 9px;
    border-radius: 13px;
    animation: cardIn 200ms ease;
}
.person-card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--colorBrandForeground1);
}


.person-dialog .body {
    padding: 21px !important;
    gap: 21px !important;
}

.person-dialog-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex: 1;
    justify-content: start;
    gap: 30px !important;
}

.person-dialog-body .details {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.person-dialog-body .details .row {
    padding: 0;
}

.profile-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 144px;
    height: 144px;
    border-radius: 21px;
    background-color: var(--colorNeutralBackground3);
    border: 1px solid var(--colorNeutralStroke2);
}